@media print {
  @page {
    size: A3 landscape;
    padding: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
  }
}

body {
  position: relative;
  width: 40cm;
  height: 28cm;
}

.pemberitahuan {
  height: 15cm;
  width: 10cm;
  background-color: powderblue;
  margin: 1px;
}

.pelunasan {
  height: 15cm;
  width: 10cm;
  background-color: yellow;
  margin: 1px;
}

.pembayaran {
  height: 15cm;
  width: 28cm;
  background-color: orange;
  margin: 1px;
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
  border: solid;
}

.t1 {
  border-collapse: collapse;
  border-spacing: 0;
}

.t1 td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 2px 12px;
  word-break: normal;
}

.t1 th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 2px 12px;
  word-break: normal;
}

.t1 .t1-9vvc {
  background-color: #efefef;
  border-color: #000000;
  font-size: 10px;
  text-align: center;
  vertical-align: bottom
}

.t1 .t1-l6li {
  border-color: #000000;
  font-size: 10px;
  text-align: left;
  vertical-align: top
}

.t1 .t1-gn3o {
  border-right: none;
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  text-align: center;
  vertical-align: middle
}
.t1 .t1-gn39 {
  border-left: none;
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  text-align: center;
  vertical-align: middle
}

.t1 .t1-bbev {
  border-left: none;
  border-color: #000000;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle
}

.t1 .t1-6re5 {
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  vertical-align: top
}

.t1 .t1-6re9 {
  border-right: none;
  border-bottom: none;
  border-top: none;
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  vertical-align: top
}

.t1 .t1-ttem {
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  text-align: left;
  vertical-align: top
}

.t1 .t1-tte8 {
  border-right:none;
  border-top: none;
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  text-align: left;
  vertical-align: top
}

.t1 .t1-tte9 {
  border:none;
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  text-align: left;
  vertical-align: top
}

.t1 .t1-277t {
  background-color: #efefef;
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle
}

.t1 .t1-3ijx {
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  text-align: right;
  vertical-align: top
}

.t1 .t1-3yo2 {
  background-color: #efefef;
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  vertical-align: top
}

.t1 .t1-nfau {
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  text-align: left;
  vertical-align: top
}

.t1 .t1-zhtw {
  border-color: #000000;
  color: #000000;
  font-size: 10px;
  text-align: center;
  vertical-align: top
}


.t2  {border-collapse:collapse;border-spacing:0;}
.t2 td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:2px 12px;word-break:normal;}
.t2 th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:2px 12px;word-break:normal;}
.t2 .t2-ng21{background-color:#efefef;border-color:#000000;color:#000000;font-size:10px;font-weight:bold;text-align:center;
  vertical-align:top}
.t2 .t2-qc0u{background-color:#efefef;border-color:#000000;font-size:10px;text-align:center;vertical-align:top}
.t2 .t2-gn3o{border-right: none; border-color:#000000;color:#000000;font-size:10px;text-align:center;vertical-align:middle}
.t2 .t2-gn39{border-left: none; border-color:#000000;color:#000000;font-size:10px;text-align:center;vertical-align:middle}
.t2 .t2-bbev{border-left: none; border-color:#000000;color:#000000;font-size:12px;font-weight:bold;text-align:center;vertical-align:middle}
.t2 .t2-6re5{border-color:#000000;color:#000000;font-size:10px;font-weight:bold;text-align:left;vertical-align:top}
.t2 .t2-6re9{border-top: none; border-right: none; border-bottom: none; border-color:#000000;color:#000000;font-size:10px;font-weight:bold;text-align:left;vertical-align:top}
.t2 .t2-ttem{border-color:#000000;color:#000000;font-size:10px;text-align:left;vertical-align:top}
.t2 .t2-tte8{border:none; border-color:#000000;color:#000000;font-size:10px;text-align:left;vertical-align:top}
.t2 .t2-tte9{border-top: none; border-right: none; border-bottom: none; border-color:#000000;color:#000000;font-size:10px;text-align:left;vertical-align:top}
.t2 .t2-3ijx{border-color:#000000;color:#000000;font-size:10px;text-align:right;vertical-align:top}
.t2 .t2-3yo2{background-color:#efefef;border-color:#000000;color:#000000;font-size:10px;font-weight:bold;text-align:right;
  vertical-align:top}
.t2 .t2-nfau{border-color:#000000;color:#000000;font-size:10px;text-align:left;vertical-align:top}


.t3  {border-collapse:collapse;border-spacing:0;}
.t3 td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:2px 12px;word-break:normal;}
.t3 th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:2px 12px;word-break:normal;}
.t3 .t3-ng21{background-color:#efefef;border-color:#000000;color:#000000;font-size:10px;font-weight:bold;text-align:center;
  vertical-align:top}
.t3 .t3-gn3o{border-right: none; border-color:#000000;color:#000000;font-size:10px;text-align:center;vertical-align:middle}
.t3 .t3-gn39{border-left:none; border-color:#000000;color:#000000;font-size:10px;text-align:center;vertical-align:middle}
.t3 .t3-bbev{border-color:#000000;color:#000000;font-size:12px;font-weight:bold;text-align:center;vertical-align:middle}
.t3 .t3-bbe9{border-left: none; border-right: none; border-color:#000000;color:#000000;font-size:12px;font-weight:bold;text-align:center;vertical-align:middle}
.t3 .t3-6re5{border-color:#000000;color:#000000;font-size:10px;font-weight:bold;text-align:left;vertical-align:top}
.t3 .t3-6re9{border-top:none; border-right: none; border-bottom: none; border-color:#000000;color:#000000;font-size:10px;font-weight:bold;text-align:left;vertical-align:top}
.t3 .t3-ttem{border-color:#000000; border-color:#000000;font-size:10px;text-align:left;vertical-align:top}
.t3 .t3-tte8{border-top:none; border-left:none; border-color:#000000;color:#000000;font-size:10px;text-align:left;vertical-align:top}
.t3 .t3-tte9{border:none; border-color:#000000;color:#000000;font-size:10px;text-align:left;vertical-align:top}
.t3 .t3-ewa4{border-color:#000000;color:#000000;font-size:10px;text-align:center;vertical-align:top}
.t3 .t3-277t{background-color:#efefef;border-color:#000000;color:#000000;font-size:10px;font-weight:bold;text-align:center;
  vertical-align:middle}
.t3 .t3-3ijx{border-color:#000000;color:#000000;font-size:10px;text-align:right;vertical-align:top}
.t3 .t3-3yo2{background-color:#efefef;border-color:#000000;color:#000000;font-size:10px;font-weight:bold;text-align:right;
  vertical-align:top}
.t3 .t3-zzln{border-right: none; border-color:#000000;color:#000000;font-size:10px;font-weight:bold;text-align:left;vertical-align:middle}
.t3 .t3-zhtw{border-left: none; border-color:#000000;color:#000000;font-size:10px;text-align:center;vertical-align:top}
